# Ignore MacOS directory files
**/.DS_Store

# Ignore node_modules folders
**/node_modules/

# Ignore virtual environment folder
**/venv/

# Ignore __pycache__
__pycache__

# Ignore Server storage folder
**/files/

# Ignore Server logs
**/logs/

# Ignore File_index
files.db
